:root {
  font-family: "Iowan Old Style", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1b16;
  background-color: #e9e6dd;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
}

button,
input,
select {
  font-family: inherit;
}
